* {
	padding: 0;
	margin: 0;
}
.body {
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
}



header {
	padding-top: 30px;
	padding-bottom: 30px;
}

.header2 {
	display: none;
}
.header2menu {
	width: 200px;
	margin: 0;
}
.header2div, .header2menu, .header2div .number, .questions {
	display: inline-block;
}



.menu a:hover {
	color: #ffce4b;
	text-decoration: none;
}
.menu a {
	text-decoration: none;
	color: black;
}
.activea>a {
	color: #ffce4b;
}

.logo_li a img, .logo_li a h6 {
	display: inline-block;
}
.logo_li a img {
	height: 15px;
}
.nav-item {
	padding-left: 20px;
}
.uslugi_li {
	margin-left: 100px;
}
.modal_button {
	float: right;
	

}

.menu_1_li {
	padding-top: 10px;
}

ul.menu > li {
    float: left;
    position: relative;

}
ul.menu > li > a {
    display: block;
    padding: 10px;
}
ul.submenu {
    display: none;
    position: absolute;
	width: 350px;
    top: 37px;
    left: 0;
    background-color: white;
	
   
}
ul.submenu > li {
    display: block;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
	
}
ul.menu > li:hover > ul.submenu {
    display: block;
}


.number p {
	margin: 0;
}
.btn {
	background-color: #ffdb4b;
}
.submenu {
	z-index: 100;
}

.menu2 {
	margin-top:30px;
	margin-bottom:30px;
}

.menu2_li {
	margin-top:30px;
}
.menu2 a{
	color: #bababd;
}
.menu2 a:hover{
	color: black;
}

.header_photo {
	background-image: url(img/header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.header_photo div {
	padding-top: 150px;
	padding-bottom: 100px;
}
.header_photo p, .header_photo h1 {
	color: white;
	
}
.header_photo h1 {
	font-size: 40pt;
}









.more {
	margin-top:30px;
	margin-bottom:30px;
}

.maindiv1,.maindiv2, .maindiv3,  .maindiv4, .maindiv5, .maindiv6 {
	display: inline-block;
	width: 380px;
}

.maindiv1 {
	height: 480px;
	background-image: url(img/1.jpg);
	background-size: 100%;
}
.maindiv2 {
	height: 480px;
	background-image: url(img/2.jpg);
	background-size: 100%;
}
.maindiv3 {
	height: 480px;
	background-image: url(img/3.jpg);
	background-size: 100%;
}
.maindiv4 {
	height: 480px;
	background-image: url(img/4.jpg);
	background-size: 100%;
}
.maindiv5 {
	height: 480px;
	background-image: url(img/5.jpg);
	background-size: 100%;
}
.maindiv6 {
	height: 480px;
	background-image: url(img/6.jpg);
	background-size: 100%;
}

.maindiv1 div,.maindiv2 div, .maindiv3 div,  .maindiv4 div, .maindiv5 div, .maindiv6 div {
	color: white;
	padding-top: 100px;
	
}


.webcase {
	color: #ffce4b;
	font-size: 10pt;
	padding-bottom: 50px;
}



footer {
	width: 100%;
	max-width: 1150px;
	background-color:#272937;
	color:white;
	
	
}
.footer_content1 {
	padding: 150px 0 100px 100px;
}
.footer1_maintext {
	font-size: 30pt;
}
.footer_btn {
	margin: 20px 20px 0 0;
}
.footer1div2, .footer1div1 {
	display: inline-block;
	margin-top: 100px;
	
}
.footer1div1 {
	margin-right: 50px;
}
.footer1div2 a {
	color: white;
	text-decoration: none;
}
.footer1div2 a:hover {
	color: #ffce4b;;
	text-decoration: none;
}
.footer1col, .footer2col {
	display: inline-block;
}
.footer1col {
	
	padding-right: 200px;
}

.footer2col  {
	overflow-y: scroll; 
	width: 300px; 
    height: 500px;
    padding: 5px; 
   
}

.footer2 {
	width: 100%;
	max-width: 1150px;
}






.column1, .column2, .column3, .column4, .column5 {
	vertical-align: top;
	display: inline-block;
	width: 200px;
}
.column1 ul, .column2 ul, .column3 ul, .column4 ul, .column5 ul {
	list-style-type:none;
}


.column1 a, .column2 a, .column3 a, .column4 a, .column5 a {
	text-decoration: none;
	color: #4c4c4c;
	font-size: 8pt;

}

.column1 a:hover, .column2 a:hover, .column3 a:hover, .column4 a:hover, .column5 a:hover {
	color: #4c4c4c;

}
.allcolumns {
	padding-top: 130px;
	padding-bottom: 100px;
}
.firstli {
	color: black;
	padding-bottom: 18px;
}
.firstli a:hover {
	text-decoration: none;
	color:  #ffce4b;

}

.column1 p {
	color: #4c4c4c;
	padding: 0;
	font-size: 8pt;
}
.column1logo img, .column1logo h6 {
	display: inline-block;
}
.column1logo img {
	height: 20px;
	padding-right: 15px;
}
.column1logo {
	margin-bottom: 20px;
}




.left {
	
	position: fixed;
	left: 10px;
	top: 0;
	height: 100%;
	width: 35px;
	
}

.left p  {
	margin-top: 150px;
	transform: rotate(-90deg);
}

.left img {
	margin-top:350px;
	height: 40px;
}


.right {
	position: fixed;
	right: 10px;
	top: 0;
	height: 100%;
	width: 35px;
}

.right div p{
	
	transform: rotate(-90deg);
}
.right div {
	margin-top:250px;
}




.second_form div h6,.second_form div img {
	display: inline-block;
}
.second_form div img {
	height: 20px;
	margin-right: 20px;
}
.second_form ul li {
	margin-left: 10px;
	display: inline-block;
}
.second_form a {
	text-decoration: none;
	color: #4c4c4c;
	font-size: 8pt;
}
.second_form a:hover {
	color: #4c4c4c;
}
.second_form p {
	color: #4c4c4c;
	font-size: 8pt;
}
.second_form {
	padding: 30px 30px 0 0;
	display: none;
}
/*

@media only screen and (max-width: 782px)  {

	.maindiv1,.maindiv2, .maindiv3 {
		width: 100%;
		max-width:782px;
		height: 300px;
		
	}
	
}*/



@media only screen and (max-width: 1269px) {
	.left, .right {
		display: none;
	}
}
@media only screen and (max-width: 1169px){
	.maindiv1,.maindiv2, .maindiv3,  .maindiv4, .maindiv5, .maindiv6 {
		width: 100%;
	}
	
	.header1 {
		display: none;
	}
	.header2 {
		display: block;
	}
	 
	
}
@media only screen and (max-width: 1024px) {
	.footer_content1 {
		padding-left: 20px;
	}	
}
@media only screen and (max-width: 944px) {
		.maindiv1,.maindiv2, .maindiv3,  .maindiv4, .maindiv5, .maindiv6 {
		height: 400px;
	}
	.maindiv1 div,.maindiv2 div, .maindiv3 div,  .maindiv4 div, .maindiv5 div, .maindiv6 div {
	color: white;
	padding-top: 50px;
	
}
	.footer1col {
		
	}
	.footer2col {
		width: 80%;
		margin: 30px 0 20px 20px;
	}
	
}
@media only screen and (max-width: 440px) {
	.header_photo h1 {
		font-size: 15pt;
	}
	.footer1col>div p {
		font-size: 13pt;
	}
	.footer1col {
		padding: 0;
		width: 280px;
	}
	.footer1_maintext {
		font-size: 20pt;
	}
	.footer1div1, .footer1div2 {
		margin-top: 20px;
	}
}
@media only screen and (max-width: 1035px) {
	.allcolumns {
		display: none;
	}
	.second_form {
		display: block;
	}
}